<li>
  <%= link_to user.first_name, user %>&nbsp
  <%= link_to user.last_name, user %>
  <%= link_to user.email, user %>
  <%= link_to "edit", edit_user_path(user) %>
	<% if @current_user.admin && @current_user != user %>
	  <%= link_to "delete", user, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</li>