<% provide(:title, "") %>
<div class="col-md-7 col-md-offset-1">
  <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

  <div class="avatar-container">
    <%= image_tag @user.avatar, class:"img-responsive avatar" %>
  </div>

  <% if @user == current_user %>
  <p><%= link_to "Edit your profile", edit_user_path %></p>
  <% end %>


  <p><%= "#{@user.reviews.count} reviews" %></p>

 
  <% if @user.reviews %>
    <%= render partial: "user_reviews", collection: @user.reviews, as: "review" %>
  <% end %>

  <% if @user.interests %>
    <%= render partial: "interesting_resources", collection: @user.interesting_resources, as: "resource" %>
  <% else %>
    <%= "#{user.first_name} hasn't saved any resources to their list yet." %> 
  <% end %>
</div>


