<% provide(:title, "#{@user.first_name} #{@user.last_name}") %>
<%= image_tag @user.avatar %>
    <%= link_to "Edit profile", edit_user_path(@user) %>
    
<%= "#{@user.reviews.count} reviews" %>

    <% @reviews.each do |review| %>

    <div><%= link_to review.title, review %></div>
    <div><%= review.score %></div>
    <div><%= review.content %></div>

<% end %>
    <p><%= link_to "Edit your profile", edit_user_path %></p>
