<% provide(:title, "") %>
<div class="col-md-7 col-md-offset-1">
  <h1><%= "#{@user.first_name} #{@user.last_name}" %></h1>

  <div class="avatar-container">
    <%= image_tag @user.avatar, class:"img-responsive avatar" %>
  </div>

  <p><%= "#{@user.reviews.count} reviews" %></p>

  <% if @user == current_user %>
  <p><%= link_to "Edit your profile", edit_user_path %></p>
  <% end %>
    
  <%= render partial: "reviews/review", collection: @reviews %>
  <%= render partial: "user_reviews", collection: @user.reviews, as: "review" %>
</div>


