  <%= render 'error_messages' %>
  
  <div>
    <%= f.label :name, "Name" %>
  </div>
  <div>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :subject, "Subject" %>
  </div>
  <div>
    <%= f.text_field :subject %>
  </div>

  <div>
    <%= f.label :format, "Format" %>
  </div>
  <div>
    <%= f.text_field :format %>
  </div>

  <div>
    <%= f.label :description, "Description" %>
  </div>
  <div>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :cost, "Cost" %>
  </div>
  <div>
    <%= f.text_field :cost %>
  </div>

  <div>
  <%= f.label :cost_type, "Cost Type" %>
  </div>
  <div>
    <%= f.text_field :cost_type %>
  </div>

  <div>
  <%= f.label :provider, "Provider" %>
  </div>
  <div>
    <%= f.text_field :provider %>
  </div>

  <div>
  <%= f.label :url, "URL" %>
  </div>
  <div>
    <%= f.text_field :url %>
  </div>
    <div>
    <%= f.label :resource_photo, "Resource Photo" %>
  </div>
  <div>
    <%=f.file_field :resource_photo %>
  </div>
  <div><%= f.check_box :remove_resource_photo %><%= f.label :remove_resource_photo %>
</div>