<%= render 'error_messages' %>

<div class="form-group">
  <%= f.text_field :name, {placeholder: "Name", class:"form-control"} %>
</div>
<div class="form-group">
  <%= f.text_field :subject_list, {placeholder: "Subject", class:"form-control"} %>
</div>
<div class="form-group">
  <%= f.text_field :format_list, {placeholder: "Format", class:"form-control"} %>
</div>
<div class="form-group">
  <%= f.text_area(:description, {rows: 6, placeholder: "Description", class:"form-control"}) %>
</div>
<div class="form-group">
  <%= f.text_field :provider_list, {placeholder: "Provider", class:"form-control"} %>
</div>
<div class="form-group">
  <%= f.text_field :url, {placeholder: "URL", class:"form-control"} %>
</div>
<div class="form-group">
  <%= f.text_field :cost, {placeholder: "Cost", class:"form-control"} %>
</div>
<div class="form-group">
  <%= f.select :cost_type, options_for_select([['Free', nil ], ['Monthly Subscription', 'monthly subscription'], ['One Time Payment', nil]]), { prompt:"Select Payment Type" }, { class:"form-control"} %>
</div>
<div>
  <%= f.label :resource_photo, "Resource Photo" %>
</div>
<div>
  <%=f.file_field :resource_photo %>
</div>
<br />

