  <%= render 'error_messages' %>
  
  <div>
    <%= f.label :name, "Name" %>
  </div>
  <div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subject_list, "Subject (separated by commas)" %>
    <%= f.text_field :subject_list %>
  </div>

  <div class="field">
    <%= f.label :format_list, "Format (separated by commas)" %>
    <%= f.text_field :format_list %>
  </div>
  <div class="field">
    <%= f.label :provider_list, "Provider (separated by commas)" %>
    <%= f.text_field :provider_list %>
  </div>
  
  <div>
    <%= f.label :subject, "Subject" %>
  </div>
  <div>
    <%= f.text_field :subject %>
  </div>

  <div>
    <%= f.label :format, "Format" %>
  </div>
  <div>
    <%= f.text_field :format %>
  </div>

  <div>
    <%= f.label :description, "Description" %>
  </div>
  <div>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :cost, "Cost" %>
  </div>
  <div>
    <%= f.text_field :cost %>
  </div>

  <div>
  <%= f.label :cost_type, "Cost Type" %>
  </div>
  <div>
    <%= f.text_field :cost_type %>
  </div>

  <div>
  <%= f.label :provider, "Provider" %>
  </div>
  <div>
    <%= f.text_field :provider %>
  </div>

  <div>
  <%= f.label :url, "URL" %>
  </div>
  <div>
    <%= f.text_field :url %>
  </div>