<div>
  <div>
    <div>
      Title: <%= link_to resource.name, resource %><br>
      Format: <%= link_to resource.format, resource %>
      Description: <%= link_to resource.description, resource %>&nbsp
      Cost: <%= link_to resource.cost, resource %>
      Cost_type: <%= link_to resource.cost_type, resource %>
      Provider: <%= link_to resource.provider, resource %>&nbsp
      URL: <%= link_to resource.url, resource %>
    <div>
      Subject: <%= link_to resource.subject, resource %>
    </div>
    <div>
      <% if @current_user && @current_user.admin? %>
        <%= link_to "edit", edit_resource_path(resource) %>
        <%= link_to "delete", resource, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
  </div>


  <div><%= render resource.reviews %>  </div>
<!-- <%# debugger %>
  <%#= if resource.reviews %>
    <div>
      <%#= form_for resource.reviews do |f| %>
      <%#= render '/reviews/', f: f %>
      <div>
        <%#= f.submit "Create review" %>
      </div>
      <%# end %>
    </div>
  <%# end %> -->
  <div>
    <% @review = resource.reviews.build  %>
    <% @review.resource_id = resource.id %>
    <%= form_for @review do |f| %>
    <%= render '/reviews/form', f: f %>
    <div>
      <%= f.submit "Create review" %>
    </div>
    <% end %>
  </div>
</div>