<tr>
<td>
<div class="row">
  <div class="col-md-3">
    <%#= link_to image_tag(resource.image), resource %>
    <%= link_to resource do %>
      <% image_tag resource.resource_photo, class:"img-responsive img-thumbnail" %>
    <% end %>
  </div>
  <div class="col-md-9">
    <div class="row">
      <div class="col-md-10">
        <div class="row">
          <h3>
            <%= link_to resource.name, resource %>
            <span class="index-cost pull-right"><%= cost_to_display(resource.cost, resource.cost_type) %></span>
          </h3>
        </div>
        <div class="row">
          <p><%= truncate resource.description, length:100 %></p>
        </div>
        <ul class="list-inline list-style row">
          <% resource.providers.each do |provider| %>
            <li>
              <%= link_to(provider.name, 
                      provider_path(provider.name), 
                      class: "btn btn-xs provider") %>
            </li>
             <% end %> 
          <% resource.subjects.each do |subject| %>
            <li>
             <%= link_to(subject.name, 
                      subject_path(subject.name), 
                      class: "btn btn-xs subject") %>
            </li>
          <% end %>
          <% resource.formats.each do |format| %>
            <li>
              <%= link_to(format.name, 
                      format_path(format.name), 
                      class: "btn btn-xs format") %>
            </li>
          <% end %>
        </ul>
        <small class="pull-right">
          <% if signed_in? && current_user.admin %>
            <% if params[:action] =="pending" %>
              <%= link_to "Approve", status_resource_path(resource), class: "btn btn-success" %>
            <% end %>
            <%= link_to "edit", edit_resource_path(resource), class: "btn btn-primary" %>
            <%= link_to "delete", resource, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% end %>
        </small>
      </div>   
      <div class="col-md-2 pull-right">
        <i class="pull-right <%= star_classes(resource.average_score.to_f) %>"></i>
        <p class="pull-right"><%= link_to resource_path(resource) do %>
        <%= resource.reviews.length %> Reviews </p>
            <% end %>
      </div>
    </div>
  </div>
</div>
</td>
</tr>