<tr>
  <h2><%= link_to resource.name, resource %></h2>
    <p>Format: <%= link_to resource.format, resource %></p>
    <p>Description: <%= link_to resource.description, resource %></p>
    <p>Cost: <%= number_to_currency(resource.cost/100) %>&nbsp<%= resource.cost_type %></p>
    <p>Provider: <%= link_to resource.provider, resource %></p>
    <p>URL: <%= link_to resource.url, resource %></p>
    <div>
     <%= button_tag resource.subject, class:"btn btn-danger"  %>
    </div>
    <div>
      <% if @current_user && @current_user.admin? %>
        <%= link_to "edit", edit_resource_path(resource), class:"btn btn-default" %>
        <%= link_to "delete", resource, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-default" %>
      <% end %>
    </div>

    <%= render partial: 'interest_form', locals: {resource: resource} %>

    <%= render partial: 'interested_users', locals: {resource: resource} %>
    
    <%= render resource.reviews %>

    <%= render partial: 'build_review_form', locals: {resource: resource} %>
</tr>