<div class="well">
  <div>
    <div>
      <h2>Title: <%= link_to resource.name, resource %><br></h2>
      Format: <%= resource.format %>
      Description: <%= resource.description %>&nbsp
      Cost: <%= resource.cost %>
      Cost_type: <%= resource.cost_type %>
      Provider: <%= resource.provider %>&nbsp
      URL: <%= link_to resource.url, resource %>
      Subject: <%= link_to resource.subject, resource %>
    </div>
    <div>
      <% if @current_user && @current_user.admin? %>
        <%= link_to "edit", edit_resource_path(resource) %>
        <%= link_to "delete", resource, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
    <div>
        <%= render partial: 'interest_form', locals: {resource: resource} %>
    </div>
  </div>


  <div><%= render resource.reviews %>  </div>

  <div>
    <% @review = resource.reviews.build  %>
    <%= form_for @review do |f| %>
      <%= render '/reviews/form', f: f %>
      <%= f.hidden_field :resource_id, :value => resource.id %>
      <div>
        <%= f.submit "Create review", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>