<tr>
  <td>
  <div class="row">
  <div class="col-md-12">      
    <div class="row">
      <div class="col-md-8">
        <h2><%= link_to resource.name, resource %>
          <span class = "pull-right rating-show"><i class="icon-star solid-star"></i><i class="icon-star solid-star"></i><i class="icon-star solid-star"></i><i class="icon-star solid-star"></i><i class="icon-star solid-star"></i></span>
        </h2>
        <ul class="list-inline list-style">
          <li><%= button_tag "RSpec", class:"btn btn-xs btn-danger" %></li>
          <li><%= button_tag "Ruby on Rails", class:"btn btn-xs btn-danger" %></li>
          <li><%= button_tag "Online", class:"btn btn-xs btn-primary" %></li>
          <li><%= button_tag "Video Tutorials", class:"btn btn-xs btn-primary" %></li>
          <li><%= button_tag "Exercises", class:"btn btn-xs btn-primary" %></li>
        </ul>
        <ul class="list-inline list-style">
          <li><%= button_tag "Code School", class:"btn btn-xs btn-warning" %></li>
          <li><%= number_to_currency(resource.cost/100) %>&nbsp<%= resource.cost_type %></li>
        <p><%= resource.description %></p>
        <p><%= link_to resource_path(resource) do %>
            <%= resource.reviews.count %> Reviews
          <% end %>
        </p>
        <div>
          <% if @current_user && @current_user.admin? %>
            <%= link_to "edit", edit_resource_path(resource), class:"btn btn-default" %>
            <%= link_to "delete", resource, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-default" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
      <%= link_to resource_path(resource) do %>
        <%= image_tag "railsforzombies.png", class:"img-responsive img-thumbnail" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
</td>
</tr>


      <div><% render resource.reviews %>  </div>
    <!-- <%# debugger %>
      <%#= if resource.reviews %>
        <div>
          <%#= form_for resource.reviews do |f| %>
          <%#= render '/reviews/', f: f %>
          <div>
            <%#= f.submit "Create review" %>
          </div>
          <%# end %>
        </div>
      <%# end %> -->
      <div>
        <% @review = resource.reviews.build  %>
        <%# @review.resource_id = resource.id %>
        <% form_for @review do |f| %>
        <% render '/reviews/form', f: f %>
        <% f.hidden_field :resource_id, :value => resource.id %>
        <div>
          <% f.submit "Create review", class: "btn" %>
        </div>
        <% end %>