<div class="row">
  <div class="col-md-12">      
    <div class="row">
      <div class="col-md-8">
        <h2><%= link_to resource.name, resource %>
          <span class = "pull-right rating-show"><i class="icon-star solid-star"></i><i class="icon-star solid-star"></i><i class="icon-star solid-star"></i><i class="icon-star solid-star"></i><i class="icon-star solid-star"></i></span>
        </h2>
        <ul class="list-inline list-style">
          <% resource.subjects.each do |subject| %>
            <li>
             <%= link_to(subject.name, 
                      subject_path(subject), 
                      class: "btn btn-xs btn-danger") %>
            </li>
          <% end %>
          <% resource.formats.each do |format| %>
            <li>
              <%= link_to(format.name, 
                      format_path(format), 
                      class: "btn btn-xs btn-primary") %>
            </li>
          <% end %>
        </ul>
        <ul class="list-inline list-style">
          <% resource.providers.each do |provider| %>
            <li>
              <%= link_to(provider.name, 
                      provider_path(provider), 
                      class: "btn btn-xs btn-warning") %>
            </li>
          <% end %>
          <li><%= number_to_currency(resource.cost/100) %>&nbsp<%= resource.cost_type %></li>
        </ul>
        <p><%= resource.description %></p>
        <p><%= link_to resource_path(resource) do %>
            <%= resource.reviews.count %> Reviews
          <% end %>
        </p>
        <div>
          <% if current_user && current_user.admin? %>
            <%= link_to "edit", edit_resource_path(resource), class:"btn btn-default" %>
            <%= link_to "delete", resource, method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-default" %>
          <% end %>
        </div>
        <%= render partial: 'interest_form', locals: {resource: resource} %>

        <%= render partial: 'interested_users', locals: {resource: resource} %>

        <%= render partial: 'similar_resources', locals: {resource: resource} %>

        <%= render resource.reviews %>

        <%= render partial: 'build_review_form', locals: {resource: resource} %>
      </div>
    </div>
  </div>
</div>

