<div class="panel-group" id="accordion">
  <div class="panel">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
      <div class="panel-heading subject">
        <h4 class="panel-title">
          By Subject<i class="icon-caret-down pull-right"></i>
        </h4>
      </div>
    </a>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <%= form_tag(resources_path, method: "get") do |form| %>
          <% tag_cloud Resource.subject_counts, %w[s m l] do |tag| %>
            <a href="#">
              <label class="btn btn-block"><%= tag.name %>
                <%= check_box_tag("tag[]", tag.name, params[:tag] && params[:tag].include?(tag.name), class:"pull-right") %>
              </label>
            </a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="panel">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
    <div class="panel-heading format">
      <h4 class="panel-title">
        By Format<i class="icon-caret-down pull-right"></i>
      </h4>
    </div>
    </a>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <% tag_cloud Resource.format_counts, %w[s m l] do |tag| %>
          <label class="btn btn-block"><%= tag.name %>
            <%= check_box_tag("tag[]", tag.name, params[:tag] && params[:tag].include?(tag.name), class:"pull-right") %>
          </label>
      <% end %>
      </div>
    </div>
  </div>
  <div class="panel">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
      <div class="panel-heading provider">
        <h4 class="panel-title">
          By Provider<i class="icon-caret-down pull-right"></i>
        </h4>
      </div>
    </a>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
          <% tag_cloud Resource.provider_counts, %w[s m l] do |tag| %>
            <label class="btn btn-block"><%= tag.name %>
              <%= check_box_tag("tag[]", tag.name, params[:tag] && params[:tag].include?(tag.name), class:"pull-right") %>
            </label>
      <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<div class="form-group">
  <%= submit_tag "Filter Your Results", class: "btn btn-large btn-main btn-block" %>
  <% end %>
</div>