<div class="row">
  <div class="col-md-8 col-md-offset-1">
     <div class="row">
      <div class="col-md-6">
        <h4><%= @resources.count %> Results Found</h4>
      </div>
      <div class="col-md-6">
        <ul class="pull-right list-inline list-style">
          <li><%= link_to "Most Recent", resources_path, class:"btn btn-default" %></li>
          <li><%= link_to "Highest Rated", resources_path, class:"btn btn-default" %></li>
          <li><%= link_to "Cost", resources_path, class:"btn btn-default" %></li>

<!--           <tr>
            <th><%#= sortable "name" %></th>
            <th><%#= sortable "price" %></th>
            <th><%#= sortable "released_at", "Released" %></th>
          </tr> -->
        </ul>
      </div>
    </div>
    <table class="table">
    <%= render @resources %>

    </table>
    <%= will_paginate @resources %>
  </div>
  <div class="col-md-2 panel-padding">
    <%= render 'tag_filter' %>
  </div>
</div>
