<div class="container">
  <br />
  <!-- <div class="well"> -->
  <div class = "btn-toolbar col-md-4 well well-sm">
    <%= form_tag(resources_path, method: "get") do |form| %>
    <!-- <div class="btn-group"> -->
      <%= link_to "All Subjects", resources_path, class: "btn btn-mini btn-primary" %>
      <% tag_cloud Resource.subject_counts, %w[s m l] do |tag| %>
        <%= check_box_tag("tag[]", tag.name, params[:tag] && params[:tag].include?(tag.name)) %>
        <%= content_tag :div, tag.name, class: "btn btn-mini btn-primary" %>
      <% end %>
    <!-- </div> -->
    <!-- <div class="btn-group">           -->
      <%= link_to "All Formats", resources_path, class: "btn btn-mini btn-success" %>
      <% tag_cloud Resource.format_counts, %w[s m l] do |tag| %>
      <%= check_box_tag("tag[]", tag.name, params[:tag] && params[:tag].include?(tag.name)) %>
      <%= content_tag :div, tag.name, class: "btn btn-mini btn-success" %>
      <% end %>
    <!-- </div> -->
    <!-- <div class="btn-group">           -->
      <%= link_to "All Providers", resources_path, class: "btn btn-mini btn-warning" %>
      <% tag_cloud Resource.provider_counts, %w[s m l] do |tag| %>
        <%= check_box_tag("tag[]", tag.name, params[:tag] && params[:tag].include?(tag.name)) %>
        <%= content_tag :div, tag.name, class: "btn btn-mini btn-warning" %>
      <% end %>
    <!-- </div> -->
    <%= submit_tag "Filter", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>

<% provide(:title, 'All Resources') %>

<table class="table table-hover table-bordered">
  <%= render @resources %>
</table>

</div>
<%= will_paginate @resources %>


<!-- <div id="tab" class="btn-group" data-toggle="buttons-radio">
  <a href="#prices2" class="btn btn-large btn-info active" data-toggle="tab">Prices</a>
  <a href="#features2" class="btn btn-large btn-info" data-toggle="tab">Features</a>
  <a href="#requests2" class="btn btn-large btn-info" data-toggle="tab">Requests</a>
  <a href="#contact2" class="btn btn-large btn-info"  data-toggle="tab">Contact</a>
</div> -->
