
<div class="col-md-10 col-md-offset-1">
  <div class="page-header">
    <h2>
      <%= link_to @resource.name, @resource.url %>
      <%# if current_user && current_user.admin? %>
        <!-- <small class="pull-right"> -->
        <%# if params[:action] =="pending" %>
          <%#= link_to "Aprove", status_resource_path(resource), class: "btn btn-success" %>
          <%# end %>
      <%#= link_to "edit", edit_resource_path(resource), class: "btn btn-primary" %>
      <%#= link_to "delete", resource, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <!-- </small> -->
      <%# end %>
    </h2>
  </div>

</div>
<div class="col-md-7 col-md-offset-1">
    <div class="row">
      <%= render partial: 'show_resource', locals: {resource: @resource} %>
    </div>
      <br>
      <br>
     <div class="row">
      <div class="col-md-6">
        <h4><%= @resource.reviews.count %> Results Found</h4>
      </div>
      <div class="col-md-6">
        <ul class="pull-right list-inline list-style">
          <li><%= link_to "Most Recent", resources_path, class:"btn btn-default" %></li>
          <li><%= link_to "Highest Rated", resources_path, class:"btn btn-default" %></li>
        </ul>
      </div>
    </div>
    <table class="table">
      <%= render @resource.reviews %>
    </table>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Write a Review
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <%= render partial: 'build_review_form', locals: {resource: @resource} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3">
    <div class="side-bar-row col-md-12">
    <%= render partial: 'interest_form', locals: {resource: @resource} %>
  </div>
  <% if signed_in? %>
    <div class="side-bar-row col-md-12">
      <button class="btn btn-block btn-warning"><i class="icon-pencil"></i>&nbsp&nbspWrite a Review</button>
    </div>
  <% end %>
  <div class="side-bar-row col-md-12">
    <%= render partial: 'interested_users', locals: {resource: @resource} %>
  </div>
  <div class="side-bar-row col-md-12"> 
    <p>Share with your fellow grasshoppers:</p>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_reddit_large' displayText='Reddit'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
  </div>
  <div class="side-bar-row col-md-12">
    <%= render partial: 'similar_resources', locals: {resource: @resource} %>
  </div>
</div>