<div class="col-md-10 col-md-offset-1">
  <div class="page-header">
    <h2>
      <%= link_to @resource.name, @resource.url %>
        <small class="pull-right">
          <span class='st_facebook_large' displayText='Facebook'></span>
          <span class='st_twitter_large' displayText='Tweet'></span>
          <span class='st_reddit_large' displayText='Reddit'></span>
          <span class='st_googleplus_large' displayText='Google +'></span>
        </small>
    </h2>
  </div>
</div>
<div class="col-md-7 col-md-offset-1">
    <div class="row">
      <%= render partial: 'show_resource', locals: {resource: @resource} %>
    </div>
    <div class="row ">
      <h4><%= @resource.reviews.count %> Reviews
      <span class="pull-right">
        Newest | Most Helpful</h4>
      </span>
    </div>
    <table class="table">
      <%= render @resource.reviews %>
    </table>
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Write a Review
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <%= render partial: 'build_review_form', locals: {resource: @resource} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-3">
    <div class="side-bar-row col-md-12">
    <%= render partial: 'interest_form', locals: {resource: @resource} %>
  </div>
  <% if signed_in? %>
    <div class="side-bar-row col-md-12">
      <button class="btn btn-block btn-warning"><i class="icon-pencil"></i>&nbsp&nbspWrite a Review</button>
    </div>
  <% end %>
  <div class="side-bar-row col-md-12">
    <%= render partial: 'interested_users', locals: {resource: @resource} %>
  </div>
  <div class="side-bar-row col-md-12">
    <%= render partial: 'similar_resources', locals: {resource: @resource} %>
  </div>
  <div class="side-bar-row col-md-12"> 
    <p>Share with your fellow grasshopers:</p>
      <span class='st_facebook_large' displayText='Facebook'></span>
      <span class='st_twitter_large' displayText='Tweet'></span>
      <span class='st_reddit_large' displayText='Reddit'></span>
      <span class='st_googleplus_large' displayText='Google +'></span>
  </div>
</div>