  <%= render 'reviews/error_messages' %>

  <div>
    <%= f.label :title, "Title" %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :score, "Score" %>
  </div>
  <div>
    <%= f.number_field :score %>
  </div>

  <div>
    <%= f.label :content, "Content" %>
  </div>
  <div>
    <%= f.text_area :content %>
  </div>
    <div>
    <%= f.label :resource_photo, "Resource Photo" %>
  </div>
  <div>
    <%=f.file_field :resource_photo %>
  </div>
  <div><%= f.check_box :remove_resource_photo %><%= f.label :remove_resource_photo %>
</div>