  <%= render 'reviews/error_messages' %>

  <div>
    <%= f.label :title, "Title" %>
  </div>
  <div>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :score, "Score" %>
  </div>
  <div>
    <%= f.number_field :score %>
  </div>

  <div>
    <%= f.label :content, "Content" %>
  </div>
  <div>
    <%= f.text_area :content %>
  </div>