<div class="well">
  <div><%= review.title %></div>
  <div>by <%= link_to "#{review.user.last_name} #{review.user.first_name}", review.user %></div>
  <div><%= review.score %> out of 5</div>
  <div><%= review.content %></div>

  <% if same_user?(review.user) or current_user.admin? %>
    <%= link_to "edit", edit_review_path(review) %>    
    <%= link_to "delete", review, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  <%= render partial: '/shared/vote_results', locals: {review: review} %>
  <%= render partial: '/shared/vote_form', locals: {review: review} unless same_user?(review.user) %>

</div>
