<div class="well">
  <div><%= link_to review.title, review %></div>
  <div>by <%= link_to "#{review.user.first_name} #{review.user.last_name}", review.user %></div>
  <div>
      <i class="<%= star_classes(review.score) %>"></i>
  </div>
  <div><%= review.content %></div>

  <% if current_user && (same_user?(review.user) or current_user.admin?) %>
    <%= link_to "edit", edit_review_path(review) %>    
    <%= link_to "delete", review, method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>

  <%= render partial: '/shared/vote_results', locals: {review: review} %>
  <%= render partial: '/shared/vote_form', locals: {review: review} unless same_user?(review.user) %>

</div>
