<header>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" 
      data-target=".navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Dev Dojo', root_path, class:"navbar-brand" %>
    </div>
<!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <%= form_tag(search_resources_path, class: "navbar-form navbar-left", method: :get) do %>
      <%= search_field_tag :query, params[:query], {placeholder: "Search", class: "form-control"} %>
    <% end %> 
    </ul>


    <ul class="nav navbar-nav navbar-right">
      
      <% if signed_in? && current_user.admin %>
         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin&nbsp<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Pending Resources", pending_resources_path %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to "All Users", users_path %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to "Import CSV", new_imports_resources_path %></li>
          </ul>
        </li>
      <% end %>

      <% if signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi,&nbsp<%= current_user.first_name%>!&nbsp<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to '<i class="icon-user icon-white"></i> Profile'.html_safe, user_path(current_user) %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to '<i class="icon-cog icon-white"></i> Settings'.html_safe, edit_user_path(current_user) %></li>
            <li role="presentation" class="divider"></li>
            <li><%= link_to '<i class="icon-off"></i> Logout'.html_safe, logout_path, method: "delete" %></li>
          </ul>
        </li>
        <li><%= button_to "Add a Resource", new_resource_path, class: "btn btn-default btn-main navbar-btn", method: "get" %>
        </li>
      <% else %>

        <li><%= link_to '<i class="icon-user icon-white"></i> Sign Up'.html_safe, signup_path %></li>
        <li><%= link_to '<i class="icon-signin icon-white"></i> Log In'.html_safe, login_path %></li>
      <% end %>
      <li> &nbsp&nbsp&nbsp&nbsp</li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </nav>
</header>

